<footer class="navbar position-sticky navbar-light bg-secondary">
    <div class="row w-100 justify-content-center text-center mx-0 py-2">
        <div class="col-12 h5">Contact - Cassandra Turetsky</div>
        <div class="col-12">
            <hr class="my-2">
        </div>
        <div class="col-12">
            <div class="row gx-4 justify-content-center">
                <div class="col-auto"> 
                    <a class="text-dark text-primary-hover" href="sms://+19875550198"
                    target="_blank">
                    <span class="fa-solid fa-phone pe-2"></span>(631) 339-3318</a>
                </div>
                <div class="col-auto">
                    <a class="text-dark text-primary-hover" href="https://www.instagram.com/cassierxseart/"
                        target="_blank">
                        <span class="fa-brands fa-instagram pe-2"></span>cassierxseart</a>
                </div>
                <div class="col-auto">
                    <a class="text-dark text-primary-hover" href="mailto:cassandra_turetsky@fitnyc.edu">
                        <span class="fa-solid fa-envelope pe-2"></span>cassandra_turetsky@fitnyc.edu</a>
                </div>
            </div>
        </div>
    </div>
</footer>