<nav class="navbar navbar-light navbar-expand-md sticky-top bg-primary shadow">
  <div class="container-fluid px-0 px-md-2">
    <a class="navbar-brand mx-2" href="/Home">
      <img src="favicon.png" alt="Cassandra Turetsky Icon" width="30"
                height="30">
      Cassandra Turetsky
    </a>
    <button class="navbar-toggler mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mt-1" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto bg-secondary">
        <div class="nav-item {{navItemBaseClasses}} pt-2 pt-md-0">
          <a class="nav-link {{navLinkBaseClasses}} {{navLinkHoverClasses}}" routerLink="/Home"
            ariaCurrentWhenActive="page" routerLinkActive="{{navLinkActiveClasses}}"
            [routerLinkActiveOptions]="{exact: true}">
            Home</a>
        </div>
        <div class="nav-item {{navItemBaseClasses}}">
          <a class="nav-link {{navLinkBaseClasses}} {{navLinkHoverClasses}}" routerLink="/ArtistBackground"
            ariaCurrentWhenActive="page" routerLinkActive="{{navLinkActiveClasses}}"
            [routerLinkActiveOptions]="{exact: true}">
            Artist Background</a>
        </div>
        <div class="nav-item {{navItemBaseClasses}}">
          <a class="nav-link {{navLinkBaseClasses}} {{navLinkHoverClasses}}" routerLink="/Inspiration"
            ariaCurrentWhenActive="page" routerLinkActive="{{navLinkActiveClasses}}"
            [routerLinkActiveOptions]="{exact: true}">
            Inspiration</a>
        </div>
        <div class="nav-item {{navItemBaseClasses}} pb-2 pb-md-0">
          <a class="nav-link dropdown-toggle {{navLinkBaseClasses}} {{navLinkHoverClasses}}"
            [ngClass]="{'border border-2 border-dark fw-bold' : isPortfolio}" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Portfolio
          </a>
          <div class="dropdown-menu dropdown-menu-end bg-secondary bg-md-white shadow">
            <div class="nav-item">
              <a class="nav-link mx-2 {{navLinkBaseClasses}} {{navLinkHoverClasses}}"
                routerLink="/Portfolio/Drawing-Painting" ariaCurrentWhenActive="page"
                routerLinkActive="{{navLinkActiveClasses}}" [routerLinkActiveOptions]="{exact: true}">
                Drawing & Painting</a>
            </div>
            <div class="nav-item">
              <a class="nav-link mx-2 {{navLinkBaseClasses}} {{navLinkHoverClasses}}"
                routerLink="/Portfolio/Photography" ariaCurrentWhenActive="page"
                routerLinkActive="{{navLinkActiveClasses}}" [routerLinkActiveOptions]="{exact: true}">
                Photography</a>
            </div>
            <div class="nav-item">
              <a class="nav-link mx-2 {{navLinkBaseClasses}} {{navLinkHoverClasses}}"
                routerLink="/Portfolio/Printmaking" ariaCurrentWhenActive="page"
                routerLinkActive="{{navLinkActiveClasses}}" [routerLinkActiveOptions]="{exact: true}">
                Printmaking</a>
            </div>
            <div class="nav-item">
              <a class="nav-link mx-2 {{navLinkBaseClasses}} {{navLinkHoverClasses}}" routerLink="/Portfolio/Sculpture"
                ariaCurrentWhenActive="page" routerLinkActive="{{navLinkActiveClasses}}"
                [routerLinkActiveOptions]="{exact: true}">
                Sculpture</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>