<div class="row pt-2 mx-0">
    <div class="col-12">
        <h3><span class="fa-solid fa-stamp pe-2"></span>Printmaking Portfolio</h3>
        <hr>
    </div>
</div>

<div class="row mx-0 g-4">
    <div class="col-auto pe-3" *ngIf="tags.size > 0">
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle py-0" type="button" #tagFiltersDropdownBtn id="tagFiltersDropdownBtn"
                data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                Tags
            </button>
            <ul class="dropdown-menu bg-light" aria-labelledby="tagFiltersDropdownBtn">

                <li class="dropdown-item" (click)="updateAllTagFilters(tags.size !== enabledTags.length)">
                    <input class="form-check-input" type="checkbox" [checked]="tags.size === enabledTags.length">
                    All
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <ng-container *ngFor="let tagEntry of tags | keyvalue">
                    <li *ngIf="tagEntry.key.tag === ImageTag.None">
                        <hr class="dropdown-divider">
                    </li>
                    <li class="dropdown-item" (click)="updateTagFilter(tagEntry.key, !tagEntry.value)">
                        <input class="form-check-input" type="checkbox" [checked]="tagEntry.value">
                        {{tagEntry.key.displayName}}
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
    <div class="col-auto px-1">
        <div class="row mx-0 g-2 ps-1">
            <div class="col-auto align-items-center" *ngFor="let tag of enabledTags">
                <div class="alert alert-light alert-dismissible py-0 px-1 mb-0 show" role="alert">
                    {{tag.displayName}}
                    <button type="button" class="btn-close mx-0 p-0 position-relative fs-small" data-bs-dismiss="alert"
                        aria-label="Close" (click)="updateTagFilter(tag, false)"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-auto ms-auto">
        <div>Showing <strong>{{filteredImages.length}}</strong> of <strong>{{images.length}}</strong> results</div>
    </div>

    <div class="col-12 mt-3">
        <hr class="mt-0">
    </div>
</div>


<div class="row mx-0 g-2 pb-2 justify-content-center">
    <div class="col-auto align-self-center text-center" *ngFor="let image of filteredImages">
        <img src="{{ image.url }}" class="img-fluid mw-100 mw-sm-200x">
    </div>
    <div class="col-auto" *ngIf="filteredImages.length == 0 && tags.size > enabledTags.length">
        <button class="btn btn-light" (click)="openDropDown($event)">
            Apply tag filters to view results!
        </button>
    </div>
</div>