<div class="row pt-2 mx-0 gx-1 gy-3 px-2">
    <div class="col-12 d-md-none">
        <h3><span class="fa-solid fa-lightbulb pe-2"></span>Inspiration</h3>
        <hr>
    </div>
    <div class="col-md-6 col-xxl-4 mt-0 mt-md-3">
        <img src="assets/inspiration/windshield-vermont.jpg" class="img-fluid mh-100 mh-md-300x" alt="Docks in the winter">
    </div>
    <div class="col-md-6 col-xxl-8">
        <div class="row mx-0">
            <span class="d-none d-md-block">
                <h3><span class="fa-solid fa-lightbulb pe-2"></span>Inspiration</h3>
                <hr>
            </span>
            <p>
                Cassie's art often relates to her experiences with mental illness. Her personal experiences with
                depression, anxiety, panic and mood disorders and OCD have led to her melancholy and raw portfolio of
                works, ranging from drawing and painting to photogrpahy and printmaking.
            </p>
            <p>
                Cassie is also often influenced by film and media. Moody cinematography as well as the photgrpahy of
                artists like Alex Prager and Nan Goldin are major inspirations for Cassandra.
            </p>
        </div>
    </div>

</div>