<div class="row pt-2 mx-0 gx-1 gy-3">
    <div class="col-md-6 d-md-none">
            <h3><span class="fa-solid fa-graduation-cap pe-2"></span>Artist Background</h3>
            <hr>
    </div>
    <div class="col-md-6 mt-0 mt-md-3">
        <img src="assets/artist-background/docks-water.jpg" class="img-fluid" alt="Docks in the winter">
    </div>
    <div class="col-md-6">
        <div class="row mx-0">
            <span class="d-none d-md-block">
                <h3><span class="fa-solid fa-graduation-cap pe-2"></span>Artist Background</h3>
                <hr>
            </span>
            <p>
                In her adolescant years Cassie attended Connetquot High school in Bohemia, where she took advantage of
                nearly every art class they had to offer. While her focus at the time was naturally on drawing, she took
                interest in other mediums including photography, film and pottery. During her last two years at
                Connetquot, all of her free periods were spent at the pottery wheel or sitting in on film lectures and
                viewings. In these same years, Cassie became a very active member of National Art Honor Society.
            </p>
            <p>

                The most important experience Cassie had as a young artist was meeting and learning from her high school
                art teacher for three years, John Rapone. Rapone fostered his student's passion for art and pushed her
                to succeed in the future by challenging her more and more every day, while just as well being a face of
                kindness during times of struggle with mental illness up until her graduation from the school in 2018.
            </p>
            <p>
                In 2021, Cassie received her Associates Degree from the Fashion Institute of Technology in New York
                City. Currently, she is going into her fourth year at the school and will be receiving her Bachelors in
                Fine Art next spring.</p>
        </div>
    </div>

</div>