#hero {
    position: relative;
    height: 425px;
    background: url(../../../assets/home/docks-house.jpg);
    background-size: cover;
    background-position: 100% 0%;
    background-repeat: no-repeat;
}

h1, .h1 {
    font-size: 7rem;
    text-shadow: 5px 6px 15px #333;
}